@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Regular.eot');
    src: url('../fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/AcuminPro-Regular.woff') format('woff'),
        url('../fonts/AcuminPro-Regular.ttf') format('truetype'),
        url('../fonts/AcuminPro-Regular.svg#AcuminPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
