/* BASIC SETUP */

body, html {
    max-width: 1920px;
    width: 100%;
    background-color: #f0f0f0;
}

/* FIRST SECTION */

.container {
    max-width: 1318px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 100%;
}

/* MOST POPULAR ARTICLES */

.headline {
    font-size: 26px;
    font-family: 'Acumin Pro';
    color: #404040;
    width: 324px;
    margin: 10px auto;
}

.headline:before {
    content:'';
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #6294A2;
    border-radius: 50px;
    margin:0 20px 0 0;
}

.mini-headline {
    font-size: 13px;
    font-family: 'Acumin Pro';
    color: #707070;
    
}

.article-headline {
    font-size: 20px;
    font-family: 'Acumin Pro';
    color: #404040;
    margin: 10px 0;
}

.popular-para {
    font-size: 15px;
    color: #404040;
    font-family: 'Acumin Pro';
}
/* MOST POPULAR ARTICLE BOXES */
.popular-articles {
    width: 405px;
    height: 478px;
    padding: 30px 0 0;
    background-color: #f7f7f7;
}


.article-container {
    width: 324px;
    margin: 32px auto 18px auto;
}
.articles {
    margin: 24px 0;
}
/* FIRST SECTION -- INDIA IMAGE */
.india-img {
    max-width: 605px;
    position: relative;
}

.india-img img {
    width: 605px;
}

.india-img-text {
    position: absolute;
    left: 35px;
    top: 340px;
}

.india-top-headline {
    font-size: 15px;
    font-family: 'Acumin Pro';
    color: #F0F0F0;
}

.india-headline {
    font-family: 'Acumin Pro';
    color: #F0F0F0;
    font-size: 32px;
    margin:8px 0;
}

.india-para {
    font-size: 15px;
    font-family: 'Acumin Pro';
    color: #F0F0F0;
}

/* SECOND SECTION -- TRENDING THIS WEEK */
.trending-container {
    width: 1318px;
    margin:59px auto;
    background-color: #f7f7f7;
}

.trending-headline {
    font-size: 26px;
    font-family: 'Acumin Pro';
    color: #404040;
    padding:37px 0;
    width: 284px;
    margin:0 0 0 42px
}

.trending-headline:before {
    content:'';
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #6294A2;
    border-radius: 50px;
    margin:0 20px 0 0;
}


.main-box {
    height: 273px;
    width: 379px;
}

.main-box img {
    width: 377px;
}

.trending-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 0 0 42px;
    
}

.box-headline {
    font-size: 20px;
    font-family: 'Acumin Pro';
    color: #404040;
    margin: 20px 0;
}

.box-para {
    font-size: 15px;
    font-family: 'Acumin Pro';
    color: #404040;
}


/* FOOTER */
/* LEFT SIDE */
.footer-container {
    max-width: 1920px;
    width: 100%;
    background-color: #f7f7f7;
    
}

.footer-basic {
    width: 1318px;
    display: flex;
    justify-content: space-between;
    padding:47px 0 28px 0;
    margin:0 auto;
}
.explord-headline {
    font-size: 22px;
    color: #404040;
    font-family: 'Acumin Pro';
}

.explord-headline:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #6294A2;
    border-radius: 50px;
    opacity: 0.5;
    padding: 2px 2px;
    margin:0 9px 0 0;
}

.footer-headline {
    font-size: 16px;
    font-family: 'Acumin Pro';
    color: #404040;
    margin: 40px 0 0;
}

.footer-para {
    width: 376px;
    font-size: 15px;
    font-family: 'Acumin Pro';
    color: #404040;
    margin:8px 0 0;
}



/* FOOTER RIGHT SIDE */

.right-side {
    display: flex;
    justify-content: flex-start;
}

.footer-navbar-first {
    height:159px;
    margin:0 60px 28px 0;
    
}

.footer-navbar-first:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 131px;
    color: black;
}
.footer-navbar-li {
    margin:15px 0;
}

.footer-navbar-li a{
    color: #404040;
    font-size: 15px;
    font-family: 'Acumin Pro';
}
.footer-navbar-second {
    height: 159px;
    margin:0 0 28px 52px;
}


.footer-info {
    margin:0 0 0 144px;
}

.footer-info-li {
    margin: 15px;
}

.footer-info-li a{
    font-size: 15px;
    font-family: 'Acumin Pro';
    color: #404040;
}

.icons {
    display: flex;
    justify-content: flex-start;
    padding:0 0 0 10px;
}

.icons img {
    width: 25px;
}

.follow-us-section {
    width: 145px;
    height: 126px;
}

.last-two-li {
   margin: 35px 0 0;
}
